*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
  background-image: url(./grade.png);
  background-size: auto;
}

.ImageCabecario{
  
    background-size: cover;
    height: 500px;
    background: url(murala1.jpg) no-repeat;
    background-size: 97%;
    align-items: center;
    max-height: 900px;
    border-radius: 5px;
    margin-left: 2rem;
    margin-top: 0rem;
  

 
}
.logo{

}
.navbar-light .navbar-nav .nav-link {
    color: #dfe4e9;
  
  }

  
.LetrasDoNav{
    margin-top: -26rem;
    margin-left: -4rem;
    
    
}
li{
  padding: 2rem;
  
}

.CorpoTexto{
 margin-top: 20rem;
 margin-left: 2rem;
 margin-right: 2rem;
 font-size: 20px;


}
.CorpoFoto{
   
    height: 800px;
    background: url(./clientes.jpg) no-repeat;
    background-size: 90%;
  
    max-height: 900px;

    margin-left: 9rem;
   
    margin-top: 8rem;
}
.FooterLogo{
  

  margin-top: -10rem;
  height: 250PX;
  background: url(./PNG\(2\).png) no-repeat;
  background-size: 20%;



    transform: translate(36rem,19rem); 

}
.FooterContatos{

}
.FooterNav{

}
.FormFooter{

}
form{
    margin-top: 10rem;
    margin-top: 5rem;
    margin-left: 7rem;
  }
  .ajusteInputAreaEmail{
    width: 430px;
  }
  .ajusteInputAreaPassowd{
    width: 150px;
    margin-top: -78px;
    margin-left: 27rem;
  }
  .ajusteDaTextArea{
 
    width: 37rem;
   margin-top: -1rem;
  }

@media screen and (max-width: 1000px) {
 
    .ImageCabeçario{

    }
    .logo{
    
    }
    .LetrasDoNav {
        font-size: 10px;
        margin-left: 2rem;
        margin-top: -31rem;
        
    }
    li{
      padding: 2px;
    }
    .CorpoFoto{
      
    height: 400px;
  
    background-size: 100%;
  
    max-height: 400px;

    margin-left: -1px;
   
    margin-top: 2rem;
    
    }
    .ajusteInputAreaEmail{
      width: 280px;
    }
    .ajusteInputAreaPassowd{
      width: 165px;
      margin-left: 290px;
      margin-top: -70px;
     
    }
    .ajusteDaTextArea{
   
      width: 28.5rem;
     margin-top: -1rem;
    }
    .CorpoTexto{
    margin-top: 13rem;
    }
    .FoterLogo{
    
    }
    .FooterContatos{
    
    }
    .FooterNav{
    
    }
    .FormFooter{
      margin-top: -10rem;
      margin-left: -12em;
    }
    
}